# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.env

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# pyenv
.python-version

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Code editor (IntelliJ & VSCode)
*.iml
*.ipr
*.iws
.idea/
.classpath
.project
.settings/
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?